[Unit]
Description=Start ROS 2 Docker Compose for all the nodes
After=network-online.target systemd-networkd.service

[Service]
Type=simple
User=guinn
WorkingDirectory=/home/guinn/guinn-ROS2
ExecStart=/bin/bash -c 'docker compose -f ./docker-compose.yml up'
// Restart=on-failure
// RestartSec=10s
// TimeoutStartSec=0

[Install]
WantedBy=default.target